<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Veterinária</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <header>
        <div class="container d-flex justify-content-between align-items-center">
            <img src="../static/img/logo.png" alt="logo">
            <nav>
                <a href="#">Início</a>
                <a href="#">Serviços</a>
                <a href="#">Contato</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero-section">
            <div class="banner" style="height: 580px; align-items: center; display: flex; justify-content: center;">
                <div class="hero-content">
                    <h1 class="title">Especialistas que você precisa</h1>
                    <p class="subtitle">Os melhores cuidados com a saúde do seu pet!</p>
                    <button class="btn-primary">Agende uma Consulta</button>
                </div>
            </div>
       </section>
<section class="segunda-sec container">
  <div class="text-content">
    <h2>Bem vindo</h2>
    <p>Olá somos a Dog Dodói. Aqui você pode ter <br>
    certeza de que seus bichinhos de estimação <br> 
    em boas mãos</p>
  </div>

  <div class="text-content">
    <p>Oferecemos tratamento veterinario <br>
    especializado para animais de estimação <br> 
    Nosso hospital está sempre disponivel para <br> 
    cuidar do seu melhor amigo, pois estamos <br> 
    abertos 24 horas por dia, 7 dias por semana</p>
  </div>
</section>


        <section class="segunda-sec container">
            <div class="text-content">
                <h2 class="title-sec">Oferecemos os cuidados que seu  companheiro necessita.</h2>
                <p class="section-subtitle">Estamos comprometidos em fornecer cuidados abrangentes e de qualidade para cada animal de estimação, para melhorar seu bem-estar e qualidade de vida.</p>
                <ul>
                    <li>Benefícios de ter um pet</li>
                    <li>Como se preparar para a adoção</li>
                    <li>Histórias de sucesso</li>
                </ul>
            </div>
            <img src="../static/img/cachorrofeliz.jpg" alt="Cachorro Feliz">
        </section>

        <section class="beneficios-section">
            <div class="container">
                <h2 class="section-title">Nossos Benefícios</h2>
                <p class="section-subtitle">Oferecemos sempre o melhor para o seu amigo de quatro patas.</p>
                <div class="beneficios-grid">
                    <div class="beneficio-item">
                        <img src="../static/img/iconMedico.png" alt="Icone Benefício 1">
                        <h3>Médicos Especializados</h3>
                        <p>Cada membro de nossa equipe passou por treinamento para se tornar um especialista.</p>
                    </div>
                    <div class="beneficio-item">
                        <img src="../static/img/iconConsulta.png" alt="Icone Benefício 2">
                        <h3>Consultas em casa</h3>
                        <p> Nós fornecemos serviços veterinários móveis para seus animais de estimação.</p>
                    </div>
                    <div class="beneficio-item">
                        <img src="../static/img/iconSuporte.png" alt="Icone Benefício 3">
                        <h3>Suporte 24 horas</h3>
                        <p>Emergência veterinária 24 horas por dia, 7 dias por semana e atendimento especializado para pacientes como de costume.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="servicos-section">
            <div class="container">
                <h2 class="section-title">Melhores Serviços</h2>
                <p class="section-subtitle">Encontre o serviço ideal para o cuidado completo do seu pet.</p>
                <div class="servicos-grid">
                    <div class="servico-item">
                        <img src="../static/img/veterinariogato.jpg" alt="Serviço Vacinas">
                        <h4>Vacinas</h4>
                    </div>
                    <div class="servico-item">
                        <img src="../static/img/cirurgia.jpg" alt="Serviço Cirurgias">
                        <h4>Cirurgias</h4>
                    </div>
                    <div class="servico-item">
                        <img src="../static/img/imagemconsulta.jpg" alt="Serviço Banho e Tosa">
                        <h4>Nutrição</h4>
                    </div>
                    <div class="servico-item">
                        <img src="../static/img/muiecomgato.jpg" alt="Serviço Hospedagem">
                        <h4>Terapias
                            
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        <section class="agendamento-section">
            <div class="container">
                <h2 class="section-title">Marque uma avaliação gratuita</h2>
                <p class="section-subtitle">Preencha o formulário e agende seu horário.</p>
                <form class="agendamento-form">
                    <input type="text" placeholder="Seu nome" required>
                    <input type="email" placeholder="Seu e-mail" required>
                    <button type="submit" class="btn-primary">Agendar Avaliação</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <div class="container d-flex justify-content-between align-items-center">
            <img src="../static/img/logo.png" alt="Logo Clínica" class="logo">
        </div>
    </footer>
</body>

</html>